@page "/report"

@using Data.DTO.EntitiDTO
@using Data.DTO
@using Newtonsoft.Json

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager

<style>
    .result-container {
        margin-top: 20px;
    }

    .custom-tabs .mud-tab {
        text-transform: none;
    }

    .truncate-text {
        white-space: nowrap; /* Không cho nội dung xuống dòng */
        overflow: hidden; /* Ẩn phần nội dung bị tràn */
        text-overflow: ellipsis; /* Hiển thị dấu '...' khi nội dung bị tràn */
    }

    .hover-underline:hover {
        text-decoration: underline;
    }

</style>

@if (!isLoaded)
{
    <Client.Components.ComponentCustom.LoadingLocal></Client.Components.ComponentCustom.LoadingLocal>
}
else
{
    <div class="result-container">
        <div class="mt-3">
            <MudList T="string">
                @foreach (var post in listReport)
                {
                    <MudListItem OnClick="() => NaviGate(post.IdPost.ToString())" Style="width:900px; border-radius:20px">
                        <MudGrid Justify="Justify.SpaceBetween">
                            <MudItem xs="9">
                                <MudCardHeader Class="p-0 m-0">
                                    <MudAvatar Size="Size.Medium">
                                        <MudImage ObjectFit="ObjectFit.Cover" Src="@post.PostIntro.Avatar"></MudImage>
                                    </MudAvatar>
                                    <MudItem Class="px-2">
                                        <MudText Typo="Typo.body1"><b class="hover-underline">@post.PostIntro.UserName</b></MudText>
                                        <MudText Typo="Typo.body2"><span>@post.PostIntro.CreateDate</span></MudText>
                                    </MudItem>
                                </MudCardHeader>
                                <MudCardContent Class="p-0 pt-1 m-0">
                                    <MudText Typo="Typo.body1" Class="truncate-text" Style="font-size: 20px;"><b class="hover-underline">@post.PostIntro.Title</b></MudText>
                                </MudCardContent>
                                <MudItem>
                                    @if (!string.IsNullOrEmpty(post.PostIntro.Like))
                                    {
                                        string[] likeCount = post.PostIntro.Like.Split('|');
                                        int toltalLike = likeCount.Distinct().Count();
                                        <MudText Style=" font-size:12px; color:gray">@(string.IsNullOrEmpty(Convert.ToString(toltalLike)) ? 0 : toltalLike) lượt thích · @post.PostIntro.CommentCount bình luận </MudText>
                                    }
                                </MudItem>
                            </MudItem>
                            <MudItem xs="3" Class="d-flex justify-content-end">
                                @if (!string.IsNullOrEmpty(post.PostIntro.ImgFile) || !string.IsNullOrEmpty(post.PostIntro.VideoFile))
                                {
                                    <MudImage Style="border-radius:20px" Src="@(string.IsNullOrEmpty(post.PostIntro.ImgFile) ? post.PostIntro.VideoFile : post.PostIntro.ImgFile)" ObjectFit="ObjectFit.Cover" Width="150" Height="100"></MudImage>
                                }
                                else
                                {
                                    <MudText Style="width:150px; height:100px"></MudText>
                                }
                            </MudItem>
                            <MudText Class="ms-5">Số lần bị báo cáo : @post.ReportCount</MudText>
                        </MudGrid>
                    </MudListItem>
                    <hr style="width:900px" />
                }
                <div class="d-flex justify-content-center">
                    <MudPagination Color="Color.Primary" Count="TotalPage" @bind-value="@Page" SelectedChanged="LoadReport" />
                </div>
            </MudList>
            @if (listReport.Count == 0)
            {
                <MudText Class="mt-2">Chưa có báo cáo nào</MudText>
            }
        </div>
    </div>
}

@code {

    List<ReportDTO> listReport = new List<ReportDTO>();

    TagDTO Tag = new TagDTO();

    private string Search = "";
    private SearchResultWithPaginationDTO searchResult;

    int TotalPage;

    int Page = 1;

    bool isLoaded;

    protected override async Task OnInitializedAsync()
    {
        await LoadReport();
    }

    async Task LoadReport ()
    {
        isLoaded = false;
        var httpClient = HttpClientFactory.CreateClient("MyHttpClient");
        var response = await httpClient.GetStringAsync($"/getListReport/{Page}");

        listReport = JsonConvert.DeserializeObject<List<ReportDTO>>(response);

        var data = await httpClient.GetStringAsync($"/getTotalPageReport");
        TotalPage = JsonConvert.DeserializeObject<int>(data);
        isLoaded = true;
    }

    void NaviGate(string link)
    {
        NavigationManager.NavigateTo("/postReport/" + link, true);
    }
}
